<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let p of produtos">
      <!-- Link para edição-->
      <ion-item (click)="editProduto(p.id)">
        <h2>{{p.nome}}</h2>
      </ion-item>
      <!-- Botao para apagar-->
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeProduto(p.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <!-- Botao Novo-->
  <ion-fab>
      <ion-fab-button color="light" (click)="addProduto()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
