<ion-header>
  <ion-toolbar>
    <ion-title>FormProdutos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
      <ion-item>
          <ion-label stacked>Id</ion-label>
          <ion-input type="text" name="id" [(ngModel)]="produto.id"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="produto.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descricao</ion-label>
      <ion-input type="text" name="descricao" [(ngModel)]="produto.descricao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Preco</ion-label>
      <ion-input type="text" name="preco" [(ngModel)]="produto.preco"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Categoria</ion-label>
      <ion-input type="text" name="categoria_id" [(ngModel)]="produto.categoria_id"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
</ion-content>

